<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.navms.infrastructure.mapper.TradeDetailMapper">

    <select id="aggregate" resultType="io.github.navms.infrastructure.model.AggregateRowDO">
        SELECT ${groupExpr} AS bucket,
               COUNT(*) AS rowCount,
               COALESCE(SUM(amount), 0) AS totalAmount
        FROM trade_detail
        WHERE deleted = 0
          AND tenant_id = #{tenantId}
        <if test="accountNo != null and accountNo != ''">
            AND account_no = #{accountNo}
        </if>
        <if test="direction != null and direction != ''">
            AND direction = #{direction}
        </if>
        <if test="startTime != null">
            AND trade_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            AND trade_time &lt; #{endTime}
        </if>
        GROUP BY ${groupExpr}
        ORDER BY bucket
        LIMIT #{limit}
    </select>
</mapper>
